.searchBar {
  padding: 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center; /* Центрує вміст по горизонталі */
  /* Центрує вміст по вертикалі */
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  outline: none;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #0073e6;
}

button {
  padding: 8px 16px;
  background-color: #0073e6;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}
